fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
pydantic
pydantic-settings
sentence-transformers
pandas
bcrypt==4.0.1
faiss-cpu
lightfm @ git+https://github.com/daviddavo/lightfm
apify-client
python-jose[cryptography]
python-multipart
passlib
pydantic[email]